{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="col s12">
		<h1>Add a child</h1>

		<form action="{{ url_for('child.add') }}" method="POST" role="form">

			<div>{{ form.first_name.label }}</div>
			<div>{{ form.first_name() }}</div>

			<div>{{ form.last_name.label }}</div>
			<div>{{ form.last_name() }}</div>

			<div>{{ form.birthday.label }}</div>
			<div>{{ form.birthday() }}</div>

			<button class="btn" type="submit">Submit</button>
			<a class="btn-flat" href="{{ url_for('child.dashboard') }}">Cancel</a>
		</form>
	</div>
</div>
{% endblock %}