{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="col s12">
		<h1>Add a child</h1>

		<form action="{{ url_for('child.add') }}" method="POST">

			<label for="first_name">First name:</label>
			<input type="text" id="first_name" name="first_name">

			<label for="last_name" class="util-margin-top-25">Last name:</label>
			<input type="text" id="last_name" name="last_name">

			<label for="birthday" class="util-margin-top-25">Birthday:</label>
			<input type="date" id="birthday" name="birthday">

			<button class="btn" type="submit">Submit</button>
			<a class="btn-flat" href="{{ url_for('child.dashboard') }}">Cancel</a>
		</form>
	</div>
</div>
{% endblock %}