{% extends "base.html" %}

{% block container %}
<div>
	<div class="row">
		<div class="col s12">
			<h1>Dashboard</h1>
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			<a class="btn" href="{{ url_for('child.add') }}"><i class="material-icons right">add</i> Add Child</a>
		</div>
		<div class="col s6">
			<a class="btn" href="{{ url_for('auth.logout')}}">Log out</a>
		</div>
	</div>

	<div class="age-group--wrapper row">
		<div class="age-group--container col s3">
			<div class="card teal">
				<div class="card-content white-text">
					<span class="card-title center">Age Group #1</span>
					<p class="age-group--count">10</p>
				</div>
			</div>
		</div>

		<div class="age-group--container col s3">
			<div class="card teal">
				<div class="card-content white-text">
					<span class="card-title center">Age Group #2</span>
					<p class="age-group--count">20</p>
				</div>
			</div>
		</div>

		<div class="age-group--container col s3">
			<div class="card teal">
				<div class="card-content white-text">
					<span class="card-title center">Age Group #3</span>
					<p class="age-group--count">30</p>
				</div>
			</div>
		</div>

		<div class="age-group--container col s3">
			<div class="card teal">
				<div class="card-content white-text">
					<span class="card-title center">Age Group #4</span>
					<p class="age-group--count">40</p>
				</div>
			</div>
		</div>
	</div>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Age Group</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			{% for child in children %}
			<tr>
				<td>{{ full_name(child) }}</td>
				<td>{{ child["age_group"] }}</td>
				<td>
					<a class="blue-text" href="{{ url_for('child.view_child', id=child['id']) }}">View child</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}