{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="col s12">
		<h1>Edit a child</h1>

		<form action="{{ url_for('child.edit_child', id=child['id']) }}" method="POST" role="form">

			<h4>Child information</h4>
			<div>{{ form.first_name.label }}</div>
			<div>{{ form.first_name(value=child.first_name) }}</div>

			<div>{{ form.last_name.label }}</div>
			<div>{{ form.last_name(value=child.last_name) }}</div>

			<div>{{ form.birthday.label }}</div>
			<div>{{ form.birthday(value=child.birthday.strftime('%Y-%m-%d')) }}</div>

			<h4 class="util-margin-top-60">Parent information</h4>
			{% for parent in child.parent %}
			<div class="util-margin-top-30">
				<div>{{ form.parent.first_name.label }}</div>
				<div>{{ form.parent.first_name(value=parent.first_name) }}</div>

				<div>{{ form.parent.last_name.label }}</div>
				<div>{{ form.parent.last_name(value=parent.last_name) }}</div>
			</div>
			{% endfor %}

			<div class="row util-margin-top-30">
				<div class="col s12">
					<button class="btn" type="submit">Submit</button>
					<a class="btn-flat" href="{{ url_for('child.view_child', id=child['id']) }}">Back to view</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}