{% extends "base.html" %}

{% block container %}

<h1>Login</h1>
{% if session.username %}
<h2>You're already logged in</h2>
<a class="btn" href="{{ url_for('auth.logout')}}">Log out</a>
{% else %}
<form method="POST" action="{{ url_for('auth.login') }}" role="form">

	<div>{{ form.username.label }}</div>
	<div>{{ form.username() }}</div>

	<div>{{ form.password.label }}</div>
	<div>{{ form.password() }}</div>

	<button type="submit" class="btn">Submit</button>
</form>
{% endif %}

{% endblock %}