{% extends "base.html" %}

{% block container %}

<h1>Register</h1>

<form method="POST" action="{{ url_for('auth.register') }}" role="form">

	<div>{{ form.username.label }}</div>
	<div>{{ form.username() }}</div>

	<div>{{ form.password.label }}</div>
	<div>{{ form.password() }}</div>

	<div>{{ form.confirm.label }}</div>
	<div>{{ form.confirm() }}</div>

	{% if form.errors %}
	<p>There's an error with your:</p>
	<ul>
		{% for error in form.errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<button type="submit" class="btn">Submit</button>
</form>

{% endblock %}