{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="col s12">
		<h1>{{ full_name(child) }}</h1>

		<div class="card">
			<div class="card-content util-margin-bottom-60">
				<span class="card-title teal white-text util-padding-left-15 util-padding-vert-5">Child's Information</span>
				<table>
					<thead>
						<tr class="util-margin-top-30">
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Birthday</td>
							<td>{{ child.birthday }}</td>
						</tr>
						<tr>
							<td>Age group</td>
							<td>{{ child.age_group }}</td>
						</tr>
					</tbody>
				</table>

				<span class="card-title util-margin-top-60 teal white-text util-padding-left-15 util-padding-vert-5">Gaurdian's Information</span>
				<table>
					<thead>
						<tr>
							<th class="util-margin-top-60">{{ full_name(parent) }}</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Phone</td>
							<td>{{ parent.phone }}</td>
						</tr>
						<tr>
							<td>Address</td>
							<td>{{ parent.address }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="card-action">
				<a class="blue-text btn-flat" href="{{ url_for('child.edit_child', id=child['id']) }}"><i class="material-icons left">edit</i>Edit child</a>
				<a class="red-text btn-flat" href="{{ url_for('child.delete_child', id=child['id']) }}"><i class="material-icons left">delete</i>Delete child</a>
			</div>
		</div>

		<a class="btn" href="{{ url_for('child.dashboard') }}"><i class="material-icons left">arrow_back</i>Back to dashboard</a>
	</div>
</div>
{% endblock %}